# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Entornos y editores
.vscode/
.idea/
*.code-workspace

# Sistema operativo
Thumbs.db
desktop.ini
.DS_Store

# LaTeX (salidas de compilacion)
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
